
<div class="bg">

    <div class="container page-center">
 
      <div class="mx-auto" style="width: 1000px;">
 
         <div class='row'>
 
             <div class="panel panel-default">
 
   <!-- Default panel contents -->
 
 
      <h3 style="margin-bottom: 30px; text-align: left;">Messages</h3>
 
     <div >
 
       <table>
 
         <tr  *ngFor="let chat of chats">
 
             <div class='container'>
 
                 <p><b>{{chat.senderId}}</b> : {{chat.text}}</p>
 
                 <span class="time-right">{{chat.date| date:'yyyy-MM-dd HH:mm a'}}</span>    
 
                </div>
 
 
         </tr>
 
 
 
       </table>
 
       <div class="form-group">
 
           <input type="text" class="form-control" placeholder="Type Here.." rows="4" id="mesg" [(ngModel)]="message" (keypress)="keypressHandler($event)"/>
 
           
 
           <br>
 
           <button (click)="send()"  type="submit"
 
           class="btn waves-effect waves-light s2"  name="action" >Send</button>
 
       </div>
 
          
 
           
 
      </div>
 
   </div>
 
   </div>
 
  </div>
 
  </div>
 